/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* LAYOUT -------------------------------------------------------> */

body {
    background: linear-gradient(90deg,rgb(122, 221, 105)50%,black 50%);
    font-family: Andale Mono, monospace;
    align-items: center;
    justify-items: center
}

.form-circle {
    border-radius: 50%;
    width: 770px;
    height: 780px;
    margin: auto;
    display: flex;
    margin-top: 100px;
    border-style: solid;
    border-color: black;
    background-color: rgb(53, 51, 51);
}

.container {
    margin: auto;
}

input {
    color: white;
    display: block;
    width: 350px;
    font-size: 20px;
    font-family: Andale Mono, monospace;
    padding-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 5px solid rgba(0,0,0,1);
    padding-left: 5px;
    background: rgb(53, 51, 51);
    margin-bottom: 50px;
}

input:focus {
    border-bottom: 5px solid rgb(122, 221, 105);
}

.create-product {
    height: 40px;
    width: 300px;
    display: block;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px black;
    font-size: 20px;
    font-family: Andale Mono, monospace;
    font-weight: 500;
    background-color: rgb(122, 221, 105);
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.create-product:hover {
    background-color: rgb(210, 225, 75);
}